version: "3.8"

services:
  postgres:
    container_name: postgres
    hostname: postgres
    build: ./postgres
    command: postgres
    environment:
      POSTGRES_USER: usr
      POSTGRES_PASSWORD: pwd
      POSTGRES_DB: backendDB
    networks:
      - ecommerce
    # remove ports, only for development
    ports:
      - "5430:5432"
    deploy:
      resources:
        limits:
          cpus: '0.5'
          memory: 512M

  backend:
    container_name: backend
    hostname: backend
    build:
      context: ../
      dockerfile: docker/backend/Dockerfile
    depends_on:
      - postgres
    networks:
      - ecommerce
    deploy:
      resources:
        limits:
          cpus: '0.5'
          memory: 1024M

  apigateway:
    container_name: apigateway
    hostname: apigateway
    build:
      context: ../
      dockerfile: docker/apigateway/Dockerfile
    networks:
      - ecommerce
    deploy:
      resources:
        limits:
          cpus: '0.5'
          memory: 1024M

  frontend:
    container_name: frontend
    hostname: frontend
    build:
      context: ../frontend
      dockerfile: ../docker/frontend/Dockerfile
    command: sh -c "npm start"
    ports:
      - "4200:4200"
    networks:
      - ecommerce
    volumes:
      - node_modules:/app/node_modules
      - ../frontend/src:/app/src
    deploy:
      resources:
        limits:
          cpus: '0.5'
          memory: 1024M

networks:
  ecommerce:

volumes:
  node_modules: